{% set pageId = 1 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main>
  <div class="main-header container">
    <h1 class="main-header__title">Каталог продукции</h1>
  </div>
  <section class="catalog">
    <h2 class="visually-hidden">Основной ассортимент</h2>
    <ul class="catalog__list products">
      <li class="catalog__item product">
        <a href="#">
          <picture>
            <img class="product__image" src="img/chicken-small.jpg" alt="Cat Energy PRO 500 г">
          </picture>
        </a>
        <a href="#">
          <h3 class="product__title">
            <span>Cat Energy PRO</span>
            <span> 500 г</span>
          </h3>
        </a>
        <table class="product__description description-table">
          <tr class="description-table__row">
            <td class="description-table__cell">Объем</td>
            <td class="description-table__cell">500 г</td>
          </tr>
          <tr class="description-table__row">
            <td class="description-table__cell">Вкус</td>
            <td class="description-table__cell">Курица</td>
          </tr>
          <tr class="description-table__row">
            <td class="description-table__cell">Цена</td>
            <td class="description-table__cell">700 Р.</td>
          </tr>
        </table>
        <a class="product__item-order" href="#">заказать</a>
      </li>
      <li class="catalog__item product">
        <a href="#">
          <picture>
            <img class="product__image" src="img/chicken-big.jpg" alt="Cat Energy PRO 1000 г курица">
          </picture>
        </a>
        <a href="#">
          <h3 class="product__title">
            <span>Cat Energy PRO</span>
            <span> 1000 г</span>
          </h3>
        </a>
        <table class="product__description description-table">
          <tr class="description-table__row">
            <td class="description-table__cell">Объем</td>
            <td class="description-table__cell">1000 г</td>
          </tr>
          <tr class="description-table__row">
            <td class="description-table__cell">Вкус</td>
            <td class="description-table__cell">Курица</td>
          </tr>
          <tr class="description-table__row">
            <td class="description-table__cell">Цена</td>
            <td class="description-table__cell">1000 Р.</td>
          </tr>
        </table>
        <a class="product__item-order" href="#">заказать</a>
      </li>
      <li class="catalog__item product">
        <a href="#">
          <picture>
            <img class="product__image" src="img/fish-small.jpg" alt="Cat Energy PRO 500 г">
          </picture>
        </a>
        <a href="#">
          <h3 class="product__title">
            <span>Cat Energy PRO</span>
            <span> 500 г</span>
          </h3>
        </a>
        <table class="product__description description-table">
          <tr class="description-table__row">
            <td class="description-table__cell">Объем</td>
            <td class="description-table__cell">500 г</td>
          </tr>
          <tr class="description-table__row">
            <td class="description-table__cell">Вкус</td>
            <td class="description-table__cell">Рыба</td>
          </tr>
          <tr class="description-table__row">
            <td class="description-table__cell">Цена</td>
            <td class="description-table__cell">700 Р.</td>
          </tr>
        </table>
        <a class="product__item-order" href="#">заказать</a>
      </li>
      <li class="catalog__item product">
        <a href="#">
          <picture>
            <img class="product__image" src="img/fish-big.jpg" alt="Cat Energy PRO 1000 г">
          </picture>
        </a>
        <a href="#">
          <h3 class="product__title">
            <span>Cat Energy PRO</span>
            <span> 1000 г</span>
          </h3>
        </a>
        <table class="product__description description-table">
          <tr class="description-table__row">
            <td class="description-table__cell">Объем</td>
            <td class="description-table__cell">1000 г</td>
          </tr>
          <tr class="description-table__row">
            <td class="description-table__cell">Вкус</td>
            <td class="description-table__cell">Рыба</td>
          </tr>
          <tr class="description-table__row">
            <td class="description-table__cell">Цена</td>
            <td class="description-table__cell">1000 Р.</td>
          </tr>
        </table>
        <a class="product__item-order" href="#">заказать</a>
      </li>
      <li class="catalog__item product">
        <a href="#">
          <picture>
            <img class="product__image" src="img/buckwheat-small.jpg" alt="Cat Energy SLIM 500 г" width="140" height="144">
          </picture>
        </a>
        <a href="#">
          <h3 class="product__title">
            <span>Cat Energy SLIM</span>
            <span> 500 г</span>
          </h3>
        </a>
        <table class="product__description description-table">
          <tr class="description-table__row">
            <td class="description-table__cell">Объем</td>
            <td class="description-table__cell">500 г</td>
          </tr>
          <tr class="description-table__row">
            <td class="description-table__cell">Вкус</td>
            <td class="description-table__cell">Гречка</td>
          </tr>
          <tr class="description-table__row">
            <td class="description-table__cell">Цена</td>
            <td class="description-table__cell">400 Р.</td>
          </tr>
        </table>
        <a class="product__item-order" href="#">заказать</a>
      </li>
      <li class="catalog__item product">
        <a href="#">
          <picture>
            <img class="product__image" src="img/buckwheat-big.jpg" alt="Cat Energy SLIM 1000 г" width="140" height="144">
          </picture>
        </a>
        <a href="#">
          <h3 class="product__title">
            <span>Cat Energy SLIM</span>
            <span> 1000 г</span>
          </h3>
        </a>
        <table class="product__description description-table">
          <tr class="description-table__row">
            <td class="description-table__cell">Объем</td>
            <td class="description-table__cell">1000 г</td>
          </tr>
          <tr>
            <td class="description-table__cell">Вкус</td>
            <td class="description-table__cell">Гречка</td>
          </tr>
          <tr>
            <td class="description-table__cell">Цена</td>
            <td class="description-table__cell">700 Р.</td>
          </tr>
        </table>
        <a class="product__item-order" href="#">заказать</a>
      </li>
      <li class="catalog__item product">
        <a href="#">
          <picture>
            <img class="product__image" src="img/rice-small.jpg" alt="Cat Energy SLIM 500 г" width="140" height="144">
          </picture>
        </a>
        <a href="#">
          <h3 class="product__title">
            <span>Cat Energy SLIM</span>
            <span> 500 г</span>
          </h3>
        </a>
        <table class="product__description description-table">
          <tr class="description-table__row">
            <td class="description-table__cell">Объем</td>
            <td class="description-table__cell">500 г</td>
          </tr>
          <tr class="description-table__row">
            <td class="description-table__cell">Вкус</td>
            <td class="description-table__cell">Рис</td>
          </tr>
          <tr class="description-table__row">
            <td class="description-table__cell">Цена</td>
            <td class="description-table__cell">500 Р.</td>
          </tr>
        </table>
        <a class="product__item-order" href="#">заказать</a>
      </li>
      <li class="products__item">
        <a href="catalog.html">
          {# <img class="catalog__show-all-icon" src="img/icon-plus.svg" width="30" height="30" alt="показать еще"> #}
        </a>
        <p class="catalog__show-more-text">показать еще 100500 товаров</p>
        <p class="catalog__show-text-small">На самом деле вкусов гораздо больше!</p>
        <a class="catalog__show-all-link">показать все</a>
      </li>
    </ul>
  </section>
  <section class="additional-products">
    <div class="container">
      <h2 class="additional-products__header">Дополнительные товары</h2>
    </div>
    <div class="additional-products__wrapper container">
      <ul class="additional-products__list">
        <li class="additional-products__item">
          <h3 class="additional-products__title">Сахарозаменитель</h3>
          <p class="additional-products__count">1 упаковка (100 г)</p>
          <p class="additional-products__price">100 Р.</p>
          <a class="additional-products__order" href="#">Заказать</a>
        </li>
        <li class="additional-products__item">
          <h3 class="additional-products__title">Питьевая вода</h3>
          <p class="additional-products__count">5 литров</p>
          <p class="additional-products__price">50 Р.</p>
          <a class="additional-products__order" href="#">Заказать</a>
        </li>
        <li class="additional-products__item">
          <h3 class="additional-products__title">Молоко</h3>
          <p class="additional-products__count">1 литр</p>
          <p class="additional-products__price">100 Р.</p>
          <a class="additional-products__order" href="#">Заказать</a>
        </li>
        <li class="additional-products__item">
          <h3 class="additional-products__title">Витамины</h3>
          <p class="additional-products__count">1 упаковка (30 г)</p>
          <p class="additional-products__price">300 Р.</p>
          <a class="additional-products__order" href="#">Заказать</a>
        </li>
      </ul>
      <div class="additional-products__order-all order-all">
        {# <img class="order-all__image" src="img/icon-gift.svg" width="78" height="80" alt="gift"> #}
        <p class="order-all__text">Закажите все<br> и получите чехол для кота в подарок!</p>
      </div>
    </div>
  </section>
</main>
{% endblock %}
