{% set pageId = 2 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main>
  <section class="main-header container">
    <h1 class="main-header__title main-header__title--form">Подбор программы</h1>
    <p class="main-header__text main-header__text--form">Заполните анкету и мы подберем<br> программу питания для вашего кота</p>
  </section>
  <form class="order-form" action="https://echo.htmlacademy.ru" method="get">
    <div class="order-form__wrapper">
      <fieldset class="order-form__fieldset fieldset fieldset--name">
        <ul class="fieldset__list fieldset__list--name">
          <li class="fieldset__item">
            <label class="fieldset__label" for="name-field">имя:*</label>
            <input type="text" id="name-field" name="name" placeholder="Барсик" value="Барсик" required="" autofocus="" tabindex="1">
          </li>
          <li class="fieldset__item">
            <label class="fieldset__label" for="weight-field">Вес (кг):*</label>
            <input type="number" id="weight-field" name="weight" placeholder="7" value="7" required="" tabindex="1">
          </li>
          <li class="fieldset__item">
            <label class="fieldset__label" for="age-field">Возраст (лет):</label>
            <input type="number" id="age-field" name="age" placeholder="7" tabindex="1">
          </li>
        </ul>
      </fieldset>
      <fieldset class="order-form__fieldset fieldset fieldset--goal">
        <ul class="fieldset__list fieldset__list--goal">
          <li class="fieldset__item fieldset__item--radio">
            <input id="weightloss" type="radio" name="goal" checked="">
            <label class="fieldset__label fieldset__label--radio" for="weightloss" tabindex="1">похудение</label>
          </li>
          <li class="fieldset__item fieldset__item--radio">
            <input id="weightgain" type="radio" name="goal">
            <label class="fieldset__label fieldset__label--radio" for="weightgain" tabindex="1">набор массы</label>
          </li>
          <li class="fieldset__item fieldset__item--radio">
            <input id="advise" type="radio" name="goal">
            <label class="fieldset__label fieldset__label--radio" for="advise" tabindex="1">Не знаю (Нужен ваш совет)</label>
          </li>
        </ul>
      </fieldset>
    </div>
    <fieldset class="order-form__fieldset fieldset fieldset--contacts">
      <legend class="fieldset__legend fieldset__legend--contacts">Контактные данные (владельца кота)</legend>
      <ul class="fieldset__list fieldset__list--contacts">
        <li class="fieldset__item fieldset__item--contacts">
          <label class="fieldset__label" for="email-field">E-mail:*</label>
          <input type="email" id="email-field" name="email" placeholder="kuklachev@gmail.com" value="kuklachev@gmail.com" required="" tabindex="1">
        </li>
        <li class="fieldset__item fieldset__item--contacts">
          <label class="fieldset__label" for="tel-field">Телефон:*</label>
          <input type="tel" id="tel-field" name="mobile" placeholder="8 (960) 900-60-90" value="8 (960) 900-60-90" required="" tabindex="1">
        </li>
      </ul>
    </fieldset>
    <fieldset class="order-form__fieldset fieldset fieldset--comment">
      <legend class="fieldset__legend fieldset__legend--comment">Комментарий</legend>
      <div class="fieldset__list fieldset__list--comment">
        <textarea class="fieldset__textarea" name="comments" rows="7" cols="30" tabindex="1">Расскажите обо всех повадках кота</textarea>
      </div>
    </fieldset>

    <fieldset class="order-form__fieldset fieldset fieldset--checkbox">
      <legend class="fieldset__legend fieldset__legend--checkbox">Дополнительно</legend>
      <ul class="fieldset__list fieldset__list--checkbox">
        <li class="fieldset__item fieldset__item--checkbox">
          <input id="sweetener" type="checkbox" name="sweetener" checked="">
          <label class="fieldset__label fieldset__label--checkbox" for="sweetener" tabindex="1">Сахарозаменитель</label>
        </li>
        <li class="fieldset__item fieldset__item--checkbox">
          <input id="water" type="checkbox" name="water">
          <label class="fieldset__label fieldset__label--checkbox" for="water" tabindex="1">Питьевая вода</label>
        </li>
        <li class="fieldset__item fieldset__item--checkbox">
          <input id="milk" type="checkbox" name="milk">
          <label class="fieldset__label fieldset__label--checkbox" for="milk" tabindex="1">Молоко</label>
        </li>
        <li class="fieldset__item fieldset__item--checkbox">
          <input id="vitamins" type="checkbox" name="vitamins">
          <label class="fieldset__label fieldset__label--checkbox" for="vitamins" tabindex="1">Витамины</label>
        </li>
      </ul>
    </fieldset>
    <div class="order-form__box container">
      <button class="order-form__button site-button" type="submit" name="button" tabindex="1">отправить заявку</button>
      <p class="order-form__note">* — Обязательные поля</p>
    </div>
  </form>
</main>
{% endblock %}
